<div id="sidebar" class="fixed h-full w-full lg:static lg:h-auto lg:overflow-y-visible lg:block lg:border-0 lg:w-1/4 hidden pt-16">
  <div id="sidebar-wrapper" class="lg:pl-12 md:pl-6 h-full overflow-y-auto scrolling-touch lg:h-auto lg:block lg:sticky overflow-hidden">
    <div>
      <img class="w-full rounded"
        src="/assets/img/zcullen.jpg" alt="Headshot"
        style="transform: scaleX(-1);-webkit-transform: scaleX(-1);"
      >
      <div class="pt-4 mt-4">
        <div class="font-bold text-xl mb-2">Zoë B Cullen</div>
        <div class="text-gray-700 text-base">
          <p>Michael B Kim Associate Professor</p>
          <p>Harvard Business School</p>
        </div>
        <nav class="pt-6 text-base">
          <ul>
            {% include nav-links.html active=include.active %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
